<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.tokopedia.com</string>
		<string>applinks:tokopedia.com</string>
		<string>applinks:m.tokopedia.com</string>
		<string>applinks:tokopedia.onelink.me</string>
		<string>applinks:apps.tokopedia.com</string>
	</array>
</dict>
</plist>
